@tailwind base;
@tailwind components;
@tailwind utilities;



/* Other global styles can go here */


.menu-horizontal {
    display: inline-flex;
    flex-direction: row;
    background: #FCD34E !important;
    border-radius: 14px !important;
}
